{% extends "base.html.twig" %}

{% block title %}{{ parent() }}Liste des stagiaires{% endblock %}

{% block body %}
    
    <h1>Liste des stagiaires</h1>

    <p>Vous avez {{age}} ans.</p>

    <p>Redirection vers la page <a href="{{ path('home') }}">Home</a></p>

    <ul>
        {% for name in names %}
            {% if name == 'thierry' %}
            <li>{{ name|upper }}</li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}

{#commentaire#}